.edit_error_class {
  display: block;
  color: red;
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}


.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

table {
    border: 1px;
}

div.NavBar{
    float:left;
    width:800px;
    margin:0;
    padding:0;
    height:auto;
}

#MenuList{
    margin:0;
    padding:0;
}

#ajax-loader{
    display:none;
    margin-bottom: 0px;
    margin-left: 5px
}

#container{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#leftBar{
    width:100px;
    height:800px;
    margin:0;
    padding:0;
    float:left;
}

#header{
    text-align:center;
    width:800px;
    height:auto;
    margin:0;
    float:left;
    padding:0;
}

#addNav{
    padding-top:20px;
}